@charset "UTF-8";
@import "reset";
@import "fonts";
@import "colors";
@import "grids";
@import "burger";
// @import "timeline";

body {
	font-family: $nunito;
	background-color: var(--body-bg);
	color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $robotoMono;
	font-weight: 400;
	line-height: 1.2;
}

li {
	list-style: none;
}

input {
	line-height: normal;
}

a,
button {
	&:hover {
		transition: 0.3s all ease-in-out;
	}
}

a {
	display: inline-block;
	text-decoration: none;
	color: var(--body-color);

	&:hover {
		color: $link;
	}
}

.is__fluid {
	max-width: 100%;
	height: auto;
}

.wrapper {
	position: relative;
}

/*= Header =*/
.nav {
	&_sticky {
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 100;
		background-color: var(--nav-color);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}

	&_scroll {
		.navbar__menu {
			.menu__link {
				padding-top: 1.2rem;
				padding-bottom: 1.2rem;
			}
		}

		.navbar__donate {
			.donate__link {
				padding-top: 1.2rem;
				padding-bottom: 1.2rem;
			}
		}
	}
}

.navbar {
	min-height: 58px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	// justify-content: space-between;
	position: relative;
	color: $white;

	@media (max-width: 575px) {
		#show__dropdown {
			&:checked {
				& ~ .menu__dropdown {
					max-height: 100%;
					padding-top: 10px;
				}
			}
		}
	}

	input {
		display: none;
	}

	label {
		margin-bottom: 0;
	}

	&__logo {
		display: inline-block;
		width: 160px;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		margin-right: 1rem;
		font-size: 1.25rem;
		line-height: inherit;
		white-space: nowrap;

		@media (max-width: 425px) {
			width: 110px;
		}
	}

	&__addons {
		width: 220px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__date {
		font-size: 15px;
		font-weight: 600;
		text-align: center;
		color: $white;
	}

	&__action {
		display: flex;
		align-items: center;
	}

	&__search {
		.search {
			&__btn {
				position: relative;
				outline: none;
				background-color: transparent;
				border: 0;

				@media (min-width: 576px) {
					padding: 1.339rem 0.5rem;
				}

				&:hover {
					background-color: $link;
				}

				&-close {
					fill: $shuttleGray;
				}
			}

			&__icon {
				fill: $white;
			}
		}
	}

	.search__form {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-height: 0;
		position: absolute;
		top: 70px;
		left: 0;
		overflow: hidden;
		background-color: #e1e4e7;
		transition: max-height, 0.3s;

		&.open {
			max-height: 40px;
		}

		fieldset {
			width: 100%;
			position: relative;
			margin-right: 80px;
			padding: 0;
			border: none;
		}

		input {
			display: block;
			height: 40px;
		}

		input[type="search"] {
			width: 100%;
			padding: 0 5px 0 22px;
			font-size: 13px;
			background: transparent;
			border: none;
		}

		.search__buttons {
			display: flex;
			align-items: center;
			background-color: $silverSand;
		}

		input[type="submit"] {
			width: 80px;
			// position: absolute;
			position: relative;
			// bottom: 0;
			// right: 0;
			margin: 0;
			padding: 0;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			color: $shuttleGray;
			background-color: $silverSand;
			border: none;
			border-right: 0.5px solid;
			cursor: pointer;
		}

		#search-close {
			width: 40px;
			position: relative;
			outline: none;
			background-color: transparent;
			border: 0;
		}
	}

	.donate {
		&__link {
			// padding: 0.5rem;

			@media (min-width: 576px) {
				padding: 1.339rem 0.5rem;
			}

			&:hover {
				background-color: $link;
			}
		}

		&__icon {
			fill: $white;
		}
	}

	.burger {
		margin-left: auto;

		@media (min-width: 576px) {
			display: none;
		}
	}
}

.navbar__menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	//   padding-left: 0;

	@media (min-width: 576px) {
		flex-direction: row;
		margin-right: auto;
	}

	@media (max-width: 575px) {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 58px;
		// right: -100%;
		right: 0;
		left: 0;
		transform: scale(0);
		z-index: 100;
		padding: 80px 10px 10px;
		background-color: rgba(#25323d, 0.9);
		overflow-y: hidden;

		&.is__active {
			// right: 0;
			transform: scale(1);
		}
	}
}

.menu {
	&__item {
		display: inline-block;
		position: relative;
		margin-bottom: 20px;
		text-align: center;

		@media (min-width: 576px) {
			margin: inherit;

			&:hover {
				.menu__dropdown {
					opacity: 1;
					visibility: visible;
					border-top: 1px solid $link;
					transition: all 0.3s ease-in-out;
				}
			}
		}
	}

	&__link {
		display: block;
		padding: 0 20px;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $white;

		&:hover {
			@media (min-width: 576px) {
				background-color: $link;
			}
			color: $white;
		}

		@media (min-width: 576px) {
			padding: 1.5rem 0.5rem;
			font-size: 14px;
		}

		&_donate {
			width: 100%;
			position: absolute;
			top: 0;
			right: 0;
			padding: 8px 16px;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			background-color: $link;
		}
	}

	&__dropdown {
		min-width: 10rem;
		padding: 10px;
		position: absolute;
		top: 100%;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		background-color: var(--nav-color);
		box-shadow: 0 6px 10px var(--alto, 0.15);

		@media (max-width: 575px) {
			width: 100%;
			max-height: 0px;
			padding: 0;
			position: static;
			top: 65px;
			opacity: 1;
			visibility: visible;
			background-color: transparent;
			overflow: hidden;
			box-shadow: none;
			transition: all 0.4s ease;
		}

		.dropdown__link {
			display: block;
			width: 100%;
			padding: 0.25rem 1.5rem;
			font-size: 15px;
			font-weight: 500;
			color: $white;
			white-space: nowrap;

			@media (min-width: 576px) {
				padding: 6px;
				font-size: 14px;
				text-align: left;

				&:hover {
					background-color: $link;
				}
			}
		}
	}
}

.is__mobile {
	@media (min-width: 576px) {
		display: none;
	}
}

.is__desktop {
	@media (max-width: 575px) {
		display: none;
	}
}

/*= Main =*/
.main {
	padding-top: 80px;
}
